<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - My Blog</h1><br>

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->
                <article id="post-2" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-2" class="read_more">Introduction to NumPy</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <ul class="info">
                                            <!-- <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li> -->
                                            <li><i class="glyphicon glyphicon-time"></i> September 15, 2018</li>
                                            <li><i class="glyphicon glyphicon-user"></i> by Jason Chen</li>
                                            <li><i class="glyphicon glyphicon-tag"></i> python, numpy</li>
                                        </ul>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> Imagine we need to solve a problem: Write a function that can reduce every element in a large sequence of number(let’s say the size is 10,000,000 and it is a parameter) by 10. Let’s assume we are only able to finish this task with pure Python at this point. The following is our code. We nailed it and the runtime (1.2 ms) was pretty good.</p></div>
                                    </div>
                                </div>

                                <a href="#post-2" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1-->

                <!-- <div class="clear"></div> -->


            </section>

            <!-- End Page Blog -->

            <!-- Page Blog - Post 2 -->
            <section id="post-2-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">

                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-pencil"></span></a>
                                </div>

                            </div>

                            <div class="title_content">
                                <div class="text_content">Introduction to Numpy</div>
                                <div class="clear"></div>
                            </div>


                            <p>Imagine we need to solve a problem: <em>Write a function that can reduce every element in a large sequence of number(let’s say the size is 10,000,000 and it is a parameter) by 10</em>. Let’s assume we are only able to finish this task with <strong>pure Python</strong> at this point. The following is our code. We nailed it and the runtime (<strong>1.2 ms</strong>) was pretty good.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">def</span> <span class="nf">pure_python</span><span class="p">(</span><span class="n">vec_size</span><span class="p">):</span>
                                <span class="n">vec_list</span> <span class="o">=</span> <span class="nb">list</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="n">vec_size</span><span class="p">))</span>
                                <span class="n">result</span> <span class="o">=</span> <span class="p">[</span><span class="n">vec_list</span><span class="p">[</span><span class="n">i</span><span class="p">]</span> <span class="o">/</span> <span class="mi">10</span> <span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="nb">range</span><span class="p">(</span><span class="n">vec_size</span><span class="p">)]</span>
                                <span class="k">return</span> <span class="n">result</span>
                            </code></pre></div></div>
                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">vec_size</span> <span class="o">=</span> <span class="mi">10000000</span>
                            <span class="c"># one way to show the function runtime</span>
                            <span class="o">%</span><span class="n">timeit</span> <span class="n">pure_python</span><span class="p">(</span><span class="n">vec_size</span><span class="p">)</span> <span class="c"># 1.24 s ± 11.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each) </span>
                            </code></pre></div></div>
                            <p>However, our supervisor said: “No, this is not what I want. You have to redo your work.”  We were shocked just like Mr.Bean.</p>

                            <p><img src="https://media.giphy.com/media/l2JHS7po8pGz94TgQ/giphy.gif" width="300" height="230" />
                            <a href="https://giphy.com/gifs/justin-g-shocked-mr-bean-horrified-l2JHS7po8pGz94TgQ/links">(GIF source)</a></p>

                            <p>We asked him for help. The supervisor suggested that NumPy (short for Numerical Python, which is a package for scientific computing) might be helpful to this task. We searched NumPy package online and went through some tutorials for about 30 minutes and finally survived. The runtime (<strong>41 ms</strong>) was much faster than the previous one.</p>

                            <p>Wow, NumPy is an amazing package. Let’s dive into each line of the above code and see what NumPy can do to improve the computing performance.</p>

                            <p>To complete this task, the first thing is to create a sequence of number, we can do it as follows.</p>

                            <p>Traditionally, we create a <code class="highlighter-rouge">list</code> using pure Python.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">vec_list</span> <span class="o">=</span> <span class="nb">list</span><span class="p">(</span><span class="nb">range</span><span class="p">(</span><span class="n">vec_size</span><span class="p">))</span>
                            <span class="k">print</span><span class="p">(</span><span class="n">vec_list</span><span class="p">)</span> <span class="c"># [0, 1, 2, ..., 9999999]</span>
                            <span class="nb">type</span><span class="p">(</span><span class="n">vec</span><span class="p">)</span> <span class="c"># list</span>
                            </code></pre></div></div>
                            <p>What we can do something to improve the runtime? What about changing <code class="highlighter-rouge">list</code> type? Yes, we actually create a <code class="highlighter-rouge">NumPy array</code> using NumPy.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">vec_array</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">arange</span><span class="p">(</span><span class="n">vec_size</span><span class="p">)</span>
                            <span class="k">print</span><span class="p">(</span><span class="n">vec_array</span><span class="p">)</span> <span class="c"># [0 1 2 ... 9999999]</span>
                            <span class="nb">type</span><span class="p">(</span><span class="n">vec</span><span class="p">)</span> <span class="c"># numpy.ndarray</span>
                            </code></pre></div></div>
                            <p>What’s the difference between them? We call Python list a dynamic-type list [1]. It means it can handle data of flexible types. Let’s say we want to assign a <code class="highlighter-rouge">str</code> to the second element of the list.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">vec_list</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">=</span> <span class="s">'Aha'</span>
                            <span class="k">print</span><span class="p">(</span><span class="n">vec_list</span><span class="p">)</span> <span class="c"># [0, 'Aha', 1, ..., 9999999]</span>
                            </code></pre></div></div>
                            <p>But if we apply the same change to the NumPy array, we will find that all elements have the same type <code class="highlighter-rouge">str</code>.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">vec_array</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">=</span> <span class="s">'Aha'</span>
                            <span class="k">print</span><span class="p">(</span><span class="n">vec_array</span><span class="p">)</span> <span class="c"># ['0' 'Aha' '1' ... '9999999']</span>
                            </code></pre></div></div>
                            <p>It means that NumPy array doesn’t keep the original information of each element except the value. Rather it tries to make sure every item has the same type. In this case, it keeps the same type by changing <code class="highlighter-rouge">int</code> into <code class="highlighter-rouge">str</code>. We call it a fixed-type array [1].</p>

                            <p>From the code above, we can find that list has more flexible data types than NumPy array. However, this flexibility could cause some issues. A list not only stores the value of each item but uses a large amount of space to keep other information that allows the data of different types at the expense of runtime. So, if the data we want to deal with hold the same data type, using Python list might not be efficient because it contains much extra information that is useless. Instead, NumPy array doesn’t have to store extra information and uses less space to store data so that it’s a more efficient way in this case [2].</p>

                            <p>After creating the sequence, we need to divide each element by 10. We can finish this part using a for loop, which goes through each element in the list and reduces it by 10. This step repeats 10000000 times.</p>

                            <p>Let’s try to write more efficient code.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">result</span> <span class="o">=</span> <span class="n">vec_array</span> <span class="o">/</span> <span class="mi">10</span>
                            </code></pre></div></div>
                            <p>Why? Because we use a trick called <strong>Ufunc(Universal function for short)</strong> in NumPy, which allows elementwise calculations [1]. It means that when we divide the array by 10, it actually is a NumPy array that has the same size as the given array but each element is 10. Thus, the program will be run just once.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">result</span> <span class="o">=</span> <span class="p">[</span><span class="mi">0</span> <span class="mi">1</span> <span class="o">...</span> <span class="mi">9999999</span><span class="p">]</span> <span class="o">/</span> <span class="p">[</span><span class="mi">10</span> <span class="mi">10</span> <span class="o">...</span> <span class="mi">10</span><span class="p">]</span>
                            </code></pre></div></div>
                            <p>The following is the complete version using NumPy.</p>

                            <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>def numpy_python(vec_size):
                                vec_array = np.arange(vec_size)
                                result = vec_array / 10
                                return result
                            </code></pre></div></div>

                            <p>At this point, we should acquire two things: one is creating a NumPy array, the other is doing elementwise operations using Ufunc instead of control flow.</p>

                            <p>What else? If we want to add two arrays of different sizes, we can easily calculate them using <strong>broadcasting</strong> [1]. What broadcasting does is similar to Ufunc but with some special shape matching steps.
                            Let’s say we want to add two arrays <code class="highlighter-rouge">a</code> and <code class="highlighter-rouge">b</code>.</p>

                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">a</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">([</span><span class="mi">1</span><span class="p">,</span><span class="mi">2</span><span class="p">])</span>
                            <span class="n">a</span><span class="o">.</span><span class="n">shape</span><span class="p">()</span> <span class="c"># check the shape of array, in this case, the shape is (2,)</span>
                            <span class="n">b</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">ones</span><span class="p">((</span><span class="mi">2</span><span class="p">,</span><span class="mi">1</span><span class="p">))</span>  <span class="c"># create an array with size of (2,1) and every element in the array is 1</span>
                            <span class="n">b</span><span class="o">.</span><span class="n">shape</span><span class="p">()</span> <span class="c"># (2, 1)</span>
                            </code></pre></div></div>
                            <div class="language-python highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="n">s</span> <span class="o">=</span> <span class="n">a</span> <span class="o">+</span> <span class="n">b</span>
                            <span class="k">print</span><span class="p">(</span><span class="n">s</span><span class="p">)</span>
                            <span class="c"># array([[2, 3],</span>
                                     <span class="p">[</span><span class="mi">2</span><span class="p">,</span> <span class="mi">3</span><span class="p">]])</span>
                            </code></pre></div></div>
                            <p>We see that the resulting array has the size of (2, 2). If we add two list of different sizes, the code will throw an error.</p>

                            <p>So, what’s the shape matching steps?</p>

                            <ol>
                              <li>Because <code class="highlighter-rouge">a</code> has the size of (2,), this means <code class="highlighter-rouge">a</code> is a 1D array. In this case, the shape of <code class="highlighter-rouge">a</code> need to be changed to (<strong>1</strong>,2) because <code class="highlighter-rouge">b</code> is a 2D array.</li>
                            </ol>

                            <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>a.shape(): (2, ) ---&gt; (1, 2)
                            </code></pre></div></div>

                            <ol>
                              <li><code class="highlighter-rouge">a</code> has the shape of (1, 2) and <code class="highlighter-rouge">b</code> has the shape of (2, 1). If we want to add them, the shape must be the same. So, we need to stretch the row of <code class="highlighter-rouge">a</code> to be 2 and the column of <code class="highlighter-rouge">b</code> to be 2.</li>
                            </ol>

                            <div class="highlighter-rouge"><div class="highlight"><pre class="highlight"><code>a.shape(): (1, 2) ---&gt; (2, 2)
                            b.shape(): (2, 1) ---&gt; (2, 2)
                            </code></pre></div></div>
                            <p>If none of the arrays has a ‘1’ in their shapes, the broadcasting won’t work.</p>

                            <p>Let’s recap what we covered in this blog:</p>

                            <ul>
                              <li>- Explain the difference between <code class="highlighter-rouge">list</code> and <code class="highlighter-rouge">NumPy array</code>.</li>
                              <li>- Introduce a NumPy trick called Ufunc, which can replace control flow in some cases.</li>
                              <li>- Introduce another useful function called broadcasting in NumPy to help us deal with some operations between two arrays of different sizes.</li>
                            </ul>

                            <p>NumPy package is too big to cover in a single blog, so I just introduce some of the ideas in this post. If some of you want to dig more into it, there are lots of online resources about NumPy. Finally, hope you enjoy this post! Stay tuned!</p>

                            <p>Reference:</p>

                            <ol>
                              <li><a href="https://jakevdp.github.io/PythonDataScienceHandbook/index.html">Python Data Science Handbook</a></li>
                              <li><a href="https://webcourses.ucf.edu/courses/1249560/pages/python-lists-vs-numpy-arrays-what-is-the-difference">Python Lists vs. Numpy Arrays - What is the difference?</a></li>
                            </ol>



                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#python</span>
                                        <span class="tag">#numpy</span>
                                        <span class="tag">#data science</span>
                                    </div>


                                    <ul class="info-post">
                                        <!-- <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li> -->
                                        <li><i class="glyphicon glyphicon-time"></i> September 15, 2018</li>
                                        <li><i class="glyphicon glyphicon-user"></i> by Jason Chen</li>
                                        <li><i class="glyphicon glyphicon-tag"></i> python, numpy, data science</li>
                                    </ul>
                                </div>

                                <div class="clear"></div>


                                    <div class="comment_form">

                                        <div class="title_content">
                                            <div class="text_content">Leave A Comment</div>
                                            <div class="clear"></div>
                                        </div>


                                        <form method="post" id="comment_form">
                                            <p class="form-group" id="contact-name">
                                                <label for="name">Your Name</label>
                                                <input type="text" name="name" class="form-control" id="inputSuccess" placeholder="Name*...">
                                            </p>
                                            <p class="form-group" id="contact-email">
                                                <label for="email">Your Email</label>
                                                <input type="text" name="email" class="form-control" id="inputSuccess" placeholder="Email*...">
                                            </p>

                                            <p class="form-group" id="contact-message">
                                                <label for="message">Your Message</label>
                                                <textarea name="message" cols="88" rows="6" class="form-control" id="inputError" placeholder="Your Comment..."></textarea>
                                            </p>
                                            <input type="reset" name="reset" value="CLEAR" class="reset">
                                            <!--<input type="submit" name="submit" value="Post Comment" class="submit">-->
                                            <button class="submit" data-toggle="modal" data-target=".bs-example-modal-sm">Post Comment</button>
                                        </form>
                                        <div class="clear"></div>

                                    </div>
                                </div>



                                <div class="col-md-12"  style="margin-top: 20px;">
                                    <a href="#post-3" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-right"></i></a>
                                    <a href="#post-1" class="readmore" id="pagination"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                    <a href="#blog" class="readmore"><i class="glyphicon glyphicon-chevron-left"></i> All Posts</a>
                                </div>

                                <div class="clear"></div>

                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 2 -->


        </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
                    </div>
                    <div class="modal-body">
                        <p>FlexyVcard is an impressive and professional online vcard, a beautiful portfolio with sliding effect, resume and contact information with Google map.</p>
                        <p>It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                                            </div>
                                          </div>
                                            <!-- End .blog -->
